.header {
  width: 100%;
  background-color: #FFFFFF;
  height: 75px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E8ECF1;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}

.headerLog img {
  height: 50px;
  object-fit: contain;
  margin-left: 30px;
}
.hr{
  margin: 20px 0;
  height: 2px;
  background-color:#E8ECF1;
}